default_shell "zsh"
copy_command "pbcopy"
simplified_ui true
pane_frames false
default_layout "vibe"
show_startup_tips false
show_release_notes false
serialize_pane_viewport true
support_kitty_keyboard_protocol true
theme "grove"

keybinds {
    unbind "Ctrl o"

    shared_except "locked" {
        bind "Alt Shift h" { GoToPreviousTab; }
        bind "Alt Shift l" { GoToNextTab; }

        bind "Alt Shift 1" { GoToTab 1; }
        bind "Alt Shift 2" { GoToTab 2; }
        bind "Alt Shift 3" { GoToTab 3; }
        bind "Alt Shift 4" { GoToTab 4; }
        bind "Alt Shift 5" { GoToTab 5; }
        bind "Alt Shift 6" { GoToTab 6; }
        bind "Alt Shift 7" { GoToTab 7; }
        bind "Alt Shift 8" { GoToTab 8; }
        bind "Alt Shift 9" { GoToTab 9; }

        bind "Alt o" { SwitchToMode "Session"; }
    }
}
