layout {
    tab name="dash" focus=true {
        pane split_direction="horizontal" {
            pane size="50%" split_direction="vertical" {
                pane size="50%" name="btop" {
                    command "zsh"
                    args "-c" "btop; exec zsh -i"
                }
                pane size="50%" name="shell"
            }
            pane size="50%" split_direction="vertical" {
                pane size="50%" name="files" {
                    command "zsh"
                    args "-c" "yazi; exec zsh -i"
                }
                pane size="50%" name="rain" {
                    command "zsh"
                    args "-c" "cmatrix -b -s; exec zsh -i"
                }
            }
        }
    }
}
